body {
  margin: 0;
  height: 100dvh;
  display: grid;
  align-items: center;
  justify-items: center;
  font-family: sans-serif;
  background-color: #eee;
  color: #222;
  text-align: center;
  transition: background-color 0.3s ease;
}

h1 {
  color: darkcyan;
}
